<% if active_user.anonymous? %>
  Please <%= link_to new_user_session_path do %><em>Sign in / Register</em><% end %>.
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% active_user.active_games.each do |game| %>
        <tr>
          <td><%= game.name %></td>

          <td>
            <%= link_to "Resume", game_path(game), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
