.no-borders {
    border: none !important;
    box-shadow: none !important;
}

.preformatted {
    white-space: pre;
}

.editable {
    border: 1px solid black;
    border-top: none;
    height: 82px;
    overflow: auto;
    width: 100%;

    .content {
        margin-left: 12px;
        margin-top: 28px;
    }

    &.captive-notes {
        height: 246px;

        .content {
            margin-top: 6px;
        }
    }

    &:first-child {
        border-top: 1px solid black;
    }

    input {
        margin-top: 21px;
    }

    textarea {
        height: 100%;
    }
}
