.editable {
    width: 100%;
    border: 1px solid black;
    border-top: none;
    height: 82px;
    padding-top: 28px;
    padding-left: 12px;

    &:first-child {
        border-top: 1px solid black;
    }

    input {
        margin-top: -7px;
        margin-left: -12px;
        border: none !important;
        box-shadow: none !important;
    }
}
